@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: rgb(37, 37, 46);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 20px;
}

h1 {
  color: #ffffff;
  text-align: center;
}

section {
  background-color: #f3f3f3;
  width: 500px;
  max-width: 90%;
  margin: 10px;
  height: auto;
  padding: 15px;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

p {
  text-align: center;
  letter-spacing: 2px;
  font-size: 0.9rem;
  font-weight: 500;
  margin: 15px;
}

.anoNasc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.anoNasc input {
  border-radius: 15px;
  border: none;
  width: 90%;
  height: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  font-style: italic;
  font-size: 0.8rem;
}

.anoNasc input:hover {
  background-color: #f3f3f3;
}

.anoNasc input:focus-visible {
  outline: 1px solid #fa741e;
}

.sex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sexRadio {
  margin-bottom: 20px;
}
.sexRadio label {
  text-align: center;
  letter-spacing: 2px;
  font-size: 0.9rem;
  font-weight: 500;
  margin: 5px;
}

.btn {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn input {
  width: 80%;
  border: none;
  background-color: #e97b21;
  border-radius: 15px;
  height: 30px;
  color: #ffffff;
  cursor: pointer;
}

.btn input:hover {
  background-color: #f4a261;
}

.res {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.res img {
  width: 200px;
  margin: 20px;
}

footer p {
  color: #ffffff;
  font-style: italic;
}
